/* 
* ORIGINAL STYLES FROM MAPBOX
*
*
*/
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    font-family: 'Crimson Text', serif;
}

#map {
    top: 0;
    height: 100vh;
    width: 100vw;
    position: fixed;
}

#header {
    margin: auto;
    width: 100%;
    position: relative;
    z-index: 5;
}

#header h1,
#header h2,
#header p {
    margin: 0;
    padding: 2vh 2vw;
    text-align: center;
}

#footer {
    width: 100%;
    min-height: 5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
    line-height: 25px;
    font-size: 13px;
    position: relative;
    z-index: 5;
}

#features {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.hidden {
    visibility: hidden;
}

.centered {
    width: 50vw;
    margin: 0 auto;
}

.lefty {
    width: 53vw;
    margin-left: 5vw;
}

.righty {
    width: 53vw;
    margin-left: 42vw;
}

.fully {
    width: 100%;
    margin: auto;
}

.light {
    color: #444;
    background-color: #fafafa;
}

.dark {
    color: #fafafa;
    background-color: black;
}

.step {
    padding-bottom: 50vh;
    margin-bottom: 10vh; 
    opacity: 0.25;
}

.step.active {
    opacity: 0.9;
}

.step div {
    padding: 25px 50px;
    line-height: 25px;
    font-size: 19px;
}

.step img {
    width: 100%;
}

@media (max-width: 750px) {
    .centered,
    .lefty,
    .righty,
    .fully {
        width: 90vw;
        margin: 0 auto;
    }
}

/* Fix issue on mobile browser where scroll breaks  */
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan,
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan .mapboxgl-canvas {
    touch-action: unset;
}

/* original styles end */


/* 
* NEW CUSTOMIZATION STYLES
*
*
*/

:root {
  --gold: #f4d35e;
  --bright-indigo: #4361ee;
  --lighter-indigo: #727EFF;
}

a,
a:visited {
    color: var(--bright-indigo);
    transition: all 0.5s;
}

a:hover {
    color: var(--lighter-indigo);
}


h1 {
    font-family: 'Amita', serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.1rem;
}

h1 {
    font-size: 7em;
}

h2, h3, h4 {
    font-size: 2.5rem;
    letter-spacing: 0.4rem;
    line-height: 2.2rem;
}

div.scroll-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 1000;
    overflow: hidden;
}

section.intro {
    display: block;
    position: absolute;
    top: 0;
    width: calc(100% - 8rem);
    color: white;
    padding: 4rem;
}

#story {
    margin-top: 120vh;
    font-size: 18px;
    letter-spacing: 0.08rem;
}

.invisible {
    opacity: 0;
    min-height: 30vh;
}

.credit {
    font-size: 18px;
    letter-spacing: 0.08rem;
    margin-top: 4rem;
}

em::before {
    content: '"'  
}

em::after {
    content: '"'  
}

@media (max-width: 750px) {

    h1 {
        font-size: 4em;
    }
    
    h2 {
        font-size: 2rem;
    }
}

.previous {
  background-image: linear-gradient(red, red);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 0% 1px;
  transition: background-size 500ms ease-in-out;
  text-decoration-line: line-through;
  text-decoration-color: transparent;
  animation-delay: 2s;
  animation: textCrossoutAndFadeout 3s ease-out forwards;
}

.newtext {
    color: var(--gold);
    animation-delay: 2s;
    animation: textFadeIn 5s ease-in forwards;
}

.header-decoration {
    animation: rotate 40s linear infinite;
    width: 50vw;
    position: absolute;
    right: -20vw;
    bottom: -30vw;
}
.header-decoration-two {
    animation: rotate 40s linear infinite;
    width: 50vw;
    position: absolute;
    top: -20vw;
    left: -30vw;
}

@keyframes textCrossoutAndFadeout {
    0% { 
        color: white;
        opacity: 1;
        background-size: 0% 1px;
    }
    50% { 
        color: white;
        opacity: 1;
        background-size: 100% 1px;
    }
    100% {
        color: red;
        opacity: 0.6;
        background-size: 100% 1px;
    }
}

@keyframes textFadeIn {
    from { 
        opacity: 0;
    }
    to {
        opacity: 0.9;
    }
}

@keyframes rotate {
    from { 
        transform: rotate(0deg);
    }
    from {
        transform: rotate(360deg);
    }
}